*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    padding: 20px 35px;
    display: inline-flex;
    background-color: #b8afa7;
    border-bottom: 5px solid black;
    width: 100%;
   
}
header h1{
    
    font-size: 40px;
}
header a{
    text-decoration: none;

}
header nav{
align-items: flex-start;

}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    
}

header nav ul li a{
    align-items: flex-end;
    padding: 20px;
    font-size: 24px;

}

body{
    background-color: #7b7878;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-me{
    display: flex;
    width: 100%;
    background-color: rgb(193, 220, 220);
}



footer h2{
    font-size: 25px;
    padding-top: 40px;
    padding-left: 40px;

}
.my-work{
   display:flex;
   align-items: center;
   justify-content: center;
}
.my-work img{
    height: 50%;
    width: 80%;
    margin: 10% 10%;
}

